@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    background-color: #E45E43;
    font-family: "Roboto", sans-serif;
}
.main{
    margin: 80px auto 20px;
    width: 500px;
    height: 443px;
    background-color: #E6E4E5;

}
.main img{
    width: 100px;
    position: relative;
    left: 39%;
    top: -48px;
}
input{
    margin-bottom: 20px;
    position: relative;
    left: 20%;
    text-align: center;
    width: 300px;
    height: 45px;
    border: 1px solid #fff;
}
.submit{
    width: 305px;
    background-color: green;
    color: #fff;
    border: 1px solid green;
}
h2{
    margin: 0;
    position: relative;
    left: 30%;
    top: -29px;
    font-size: 30px;
}
.red-p{
    font-weight: bold;
    text-align: center;
    color: rgb(192, 12, 12);
}
.div2-main{
    margin: 20px auto;
    width: 500px;
    color: #fff;
}
.div2-main p{
    text-align: center;
}
section{
    position: relative;
    margin-left: 60px ;
    display: inline-block;
    width: 170px;
    height: 50px;
}
section img{
    position: absolute;
    left: 30px;
}
section span{
    position: absolute;
    left: 75px;
    top: 17px;
}